<h1>All orders</h1>

<ul>
  <li is="order-list"
      v-for="order in orders"
      :key="order.id"
      :order="order"
      @open="retrieveOrderItem(order.order_id)"
      >
  </li>
</ul>

<modal
  :order="order"
  v-if="showModal"
  @close="showModal = false">
  <!--
    you can use custom content here to overwrite
    default content
  -->
  <h3 slot="header">
    Hi Ernest! How was your order {{ order.order_id }}
    at {{ order.delivery_time_modal }}
    on {{ order.delivery_date_modal }}
  </h3>
</modal>

<!-- <p>
  <router-link to="/foo">Go to Foo</router-link>
  <router-link to="/bar">Go to Bar</router-link>
</p>
<router-view></router-view> -->
